@font-face {
  font-family: 'nanumsquare';
  font-style: normal;
  font-weight: 100;
  src: url("./fonts/nanumsquareR.eot") format('eot'),
  url("./fonts/nanumsquareR.woff") format('woff'),
  url("./fonts/NanumSquare_acR.ttf") format('truetype')
}

@font-face {
  font-family: 'nanumsquare';
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/nanumsquareR.eot") format('eot'),
  url("./fonts/nanumsquareR.woff") format('woff'),
  url("./fonts/NanumSquare_acR.ttf") format('truetype')
}

@font-face {
  font-family: 'nanumsquare';
  font-style: normal;
  font-weight: 800;
  src: url("./fonts/nanumsquareB.eot") format('eot'),
  url("./fonts/nanumsquareB.woff") format('woff'),
  url("./fonts/NanumSquare_acEB.ttf") format('truetype')
}

@font-face {
  font-family: 'nanumsquare';
  font-style: normal;
  font-weight: bold;
  src: url("./fonts/nanumsquareEB.eot") format('eot'),
  url("./fonts/nanumsquareEB.woff") format('woff'),
  url("./fonts/NanumSquare_acEB.ttf") format('truetype')
}

body {
  margin: 0;
  font-family: 'nanumsquare';
  color: #2f2f2f
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

